<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete employee</h1>
    <form method="POST" action="/delete">
        <br>
        <input type="text" name="name" placeholder="Name" required onkeydown="preventEnter(event)">
        <input type="text" name="salary" placeholder="Salary" required onkeydown="preventEnter(event)">
        <input type="submit" name="submit"/>
    </form>


    
</body>

<script>
    function preventEnter(event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevents the default Enter key behavior
        }
    }
</script>


</html>