<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Insert employee:</h1>
    <form method="POST" action="/insert">
        <br>
        <input type="text" name="name" placeholder="Name" required onkeydown="preventEnter(event)">
        <input type="text" name="salary" placeholder="Salary" required onkeydown="preventEnter(event)">
        <input type="submit" name="submit"/>
    </form>

    {% if status == "Ok" %}
        <h2>Insert success</h2>
    {% elif status == "Bad" %}
        <h2>Insert failed</h2>
    {% else %}
    {% endif %}
 

    <script>
        function preventEnter(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Prevents the default Enter key behavior
            }
        }
    </script>


</body>
</html>