<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update row</h1>
    <br>
    <form method="POST" action="/update">
        Update by name:
        <input type="text" name="name" onkeydown="preventEnter(event)">
        Update by salary:
        <input type="text" name="salary" onkeydown="preventEnter(event)">
        <input type="submit" name="submit"/>
    </form>

    <script>
        function preventEnter(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Prevents the default Enter key behavior
            }
        }
    </script>


</body>
</html>